.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    position: relative;
}

.logo__navbar {
    width: 12vw;
}

.menu__mobile, 
.nav__list {
    display: none;
}

.menu__mobile-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__mobile-icon {
    text-align: end;
}

.menu__mobile {
    background: var(--branco);
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    padding: 2em 1em 2em 2em;
    background-color: #FFFFFF;
    min-height: 1680px;
}

.menu__lista {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 3em 0;
}

.menu__lista-item {
    margin: 1em 0;
}

.menu__lista-item a {
    text-decoration: none;
    font-size: 18px;
    color: var(--azul-muito-escuro);
}

.open,
.menu__lista-item,
.menu__mobile-close button {
    display: block;
}

.menu__mobile-close button {
    width: 100%;
}

@media screen and (min-width: 1440px) {
    .menu__navbar, 
    .menu__mobile-icon {
        display: none;
    }
    
    .nav__list {
        display: flex;
        justify-content: space-between;
        width: 36vw;
    }

    .nav__link {
        text-decoration: none;
        color: var(--cinza-escuro-azulado);
        font-weight: 500;
        font-size: 17px;
    }

    .nav__link:hover {
        color: var(--laranja-claro);
    }

    .logo__navbar {
        width: 4vw;
    }
}