@import url("/style/navbar.css");
@import url("/style/banner.css");
@import url("/style/news.css");
@import url("/style/top3.css");

:root {
    --fonte-principal: "inter";
    --laranja-claro: hsl(35, 77%, 62%);
    --vermelho-claro: hsl(5, 85%, 63%);
    --branco: hsl(36, 100%, 99%);
    --cinza-azulado: hsl(233, 8%, 79%);
    --cinza-escuro-azulado: hsl(236, 13%, 42%);
    --azul-muito-escuro: hsl(240, 100%, 5%);
}

body {
    font-size: 15px;
    font-family: var(--fonte-principal);
    margin: 2em 1em;
    background: var(--branco);
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 12vw;
}

@media screen and (min-width: 1440px) {
    body {
        padding: 3vw 6vw;
    }

    main {
        display: grid;
        grid-template-areas: 
        "banner banner news"
        "banner banner news"
        "top3 top3 top3";
        row-gap: 3rem;
        column-gap: 0.1rem;
        grid-template-columns: repeat(3, 33.2%);
        grid-template-rows: repeat(2, 35%) 22%;
    }

    .banner {
        grid-area: banner;
    }

    .news {
        grid-area: news;
    }

    .top3 {
        grid-area: top3;
    }
}